<div>
<%= link_to "Final Project Ideas", root_path %>
<%= link_to "Story Time", about_path %>
<%= link_to "Parent-Child information", about_path %>
<%= link_to "Movie quote reference database", about_path %>
</div>