<div>
<%= link_to "Final Project Ideas", root_path %><br>
<%= link_to "Story Time", about_path %><br>
<%= link_to "Parent-Child information", about_path %><br>
<%= link_to "Movie quote reference database", about_path %><br>
</div>